<div class="container" stage ng-click="stageClick()">
  <div ng-hide="lightOn"> <img src="img/offLight.png"/></div>
  <div ng-show="lightOn"> <img src="img/onLight.png"/></div>
  </div>
<div class="alert">
  Click anywhere, and then click again 15 seconds later.
</div>
<div class="container">
  <div class="row">
    <div class="span4">
      <h4>Last Time</h4>
      <div class="row">
        <div class="span2 alert alert-info">
          <div class="text-center" style="font-size:30px">{{display.ms | number:0}} ms</div>
        </div>
      </div>
     </div>
    <div class="span8">
      <button class="btn pull-right" ng-click="clearLog()">Clear Table</button>
      <h4>Your times (ms)</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="t in display.times">
            <td>{{t.ms | number:0}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


